<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, user-scalable=no, width=device-width"
    />
    <style>
      html,
      body,
      #container {
        width: 100%;
        height: 100%;
      }
      .control-box {
        position: fixed;
        z-index: 999;
        top: 10px;
        right: 10px;
        width: 300px;
        height: calc(100% - 20px);
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .input-data {
        flex-grow: 1;
      }
      .btn-box {
        display: flex;
        gap: 10px;
      }
      h3 {
        padding: 0;
        margin: 0;
      }
    </style>
    <title>地图工具</title>
    <link
      rel="stylesheet"
      href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"
    />
    <script src="https://a.amap.com/jsapi_demos/static/geojson/shanghai.js"></script>
    <script src="https://webapi.amap.com/maps?v=2.0&key=2dbbdb8f7fd9d482bf8189c12b530894"></script>
    <script src="https://a.amap.com/jsapi_demos/static/demo-center/js/demoutils.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://a.amap.com/jsapi_demos/static/resource/heatmapData.js"></script>
  </head>
  <body>
    <div class="vueBox" id="app">
      <div class="control-box">
        <h3>围栏</h3>
        <textarea
          class="input-data"
          v-model="polygonData"
          rows="30"
          placeholder="输入围栏数据，如POLYGON ((117.124023842 40.53388317100007, ...))"
        ></textarea>
        <h3>坐标</h3>
        <textarea
          class="input-data"
          v-model="markerData"
          rows="30"
          placeholder="输入坐标点，如POINT (115.975944 40.462026)...，可多个"
        ></textarea>
        <h3>热力</h3>
        <textarea
          class="input-data"
          v-model="heatMapData"
          rows="30"
          placeholder="输入热力数据，如"
        ></textarea>
        <div class="btn-box">
          <button @click="drawPolygon">生成围栏</button>
          <button @click="addMarker">生成坐标</button>
          <button @click="drawHeatMap">生成热力</button>
          <button @click="clearPolygons">清空</button>
        </div>
      </div>
    </div>
    <div id="container"></div>

    <script type="text/javascript">
      const { createApp, ref, mounted } = Vue;

      createApp({
        data() {
          return {
            map: null,
            polygonData: "",
            polygon: null,
            markerData: `POINT (115.975944 40.462026)
      POINT (116.8565085214192 40.38811656537166)
      POINT (116.8134796184506 40.36655759357838)`,
            points: [],
            heatMapData: "",
          };
        },
        mounted() {
          this.initMap();
          // this.polygonData = JSON.stringify(shanghai);
          // this.drawPolygon();
        },
        methods: {
          // 初始化地图
          initMap() {
            this.map = new AMap.Map("container", {
              resizeEnable: true,
              center: [121.045332, 31.19884],
              zoom: 8.8,
            });
          },
          // 转换输入的围栏格式
          // parsePolygon(polygonStr) {
          //   // 使用正则表达式提取坐标点
          //   const pattern = /POLYGON \(\(([^)]+)\)\)/;
          //   const match = polygonStr.match(pattern);
          //   if (!match) {
          //     throw new Error("Invalid POLYGON format");
          //   }
          //   // 提取坐标点字符串
          //   const coordsStr = match[1];
          //   // 将坐标点字符串分割成单个坐标点
          //   const coordsList = coordsStr.split(",");
          //   // 将每个坐标点字符串转换为浮点数列表
          //   const polygonList = coordsList.map((point) =>
          //     point.trim().split(" ").map(Number)
          //   );
          //   // 四层嵌套列表
          //   const nestedPolygonList = [[polygonList]];
          //   return nestedPolygonList;
          // },
          // 清空所有覆盖物
          clearPolygons() {
            console.log("map", this.map);
            this.map.clearMap();
          },
          // 画围栏
          drawPolygon() {
            if (!this.polygonData) {
              alert("啥都不输入，还想生成是吧？给你来一👊");
              return;
            }
            function extractCoordinates(polygonString) {
              // 使用正则表达式匹配坐标点
              const coordinateRegex = /([\d\.]+ [\d\.]+)/g;
              const matches = polygonString.match(coordinateRegex);

              // 将匹配到的字符串转换为数组
              const coordinates = matches.map((match) => {
                const [longitude, latitude] = match.split(" ").map(Number);
                return [longitude, latitude];
              });

              return coordinates;
            }
            const path = extractCoordinates(this.polygonData);
            if (this.polygon) {
              this.polygon.setMap(null); // 移除旧的围栏
            }
            this.polygon = new AMap.Polygon({
              path,
              fillColor: "#ccebc5",
              strokeOpacity: 1,
              fillOpacity: 0.5,
              strokeColor: "#2b8cbe",
              strokeWeight: 1,
              strokeStyle: "dashed",
              strokeDasharray: [5, 5],
            });
            this.polygon.setMap(this.map);
            this.map.setFitView(); // 调整视角以展示完整的围栏
          },
          addMarker() {
            if (!this.markerData) {
              alert("啥都不输入，还想生成是吧？给你来一👊");
              return;
            }
            const regex = /POINT \((-?\d+\.\d+)\s+(-?\d+\.\d+)\)/g; // 正则表达式，匹配POINT记录

            this.points = [];
            let match;
            while ((match = regex.exec(this.markerData)) !== null) {
              this.points.push([parseFloat(match[1]), parseFloat(match[2])]); // 提取匹配的数字并转换为Number类型
            }

            if (!this.points?.length) {
              alert("标记数据格式错误，请输入有效的WKT格式");
              return;
            }
            this.points.forEach((item) => {
              const [lng, lat] = item;
              setMarker(new AMap.LngLat(lng, lat), this);
            });
            function setMarker(position, that) {
              var marker = new AMap.Marker({
                position,
                icon: "https://a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png",
                offset: new AMap.Pixel(-13, -30),
              });
              that.map.add(marker);
            }
            this.map.setFitView(); // 调整视角以展示完整的围栏
          },
          drawHeatMap() {
            console.log("heatmapData", heatmapData);
            var heatmap;
            const map = this.map;
            this.map.plugin(["AMap.HeatMap"], function () {
              console.log("map", map);
              //初始化heatmap对象
              heatmap = new AMap.HeatMap(map, {
                radius: 25, //给定半径
                opacity: [0, 0.8],
                /*,
                  gradient:{
                      0.5: 'blue',
                      0.65: 'rgb(117,211,248)',
                      0.7: 'rgb(0, 255, 0)',
                      0.9: '#ffea00',
                      1.0: 'red'
                  }
                   */
              });
              console.log("heatmap", heatmap);
              //设置数据集：该数据为北京部分“公园”数据
              heatmap.setDataSet({
                data: heatmapData,
                max: 100,
              });
            });
            // 计算数据点的边界并调整地图视野
            function setMapView(data) {
              var bounds = new AMap.Bounds(
                data[0].lng,
                data[0].lat,
                data[0].lng,
                data[0].lat
              );

              data.forEach(function (point) {
                bounds.extend(new AMap.LngLat(point.lng, point.lat));
              });

              map.setFitView(); // 自动调整到合适的视野范围
              map.setBounds(bounds);
            }
            setMapView(heatmapData);
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
